  | Category                                |  Tests | Status   |
  |-----------------------------------------|--------|----------|
  | Types conversions                       | 21 | PASS     |
  | DAL compliance                          | 2 | PASS     |
  |-----------------------------------------|--------|----------|

  Passed: 23  Failed: 0
